#sideNav {
    color: cornflowerblue;
    padding: 10px 20px 20px 20px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 20%;
    padding: 20px;
}

.product_images {
    height: 300px;
    width: 300px;
    padding: 10px 20px 10px 20px;
}

#homeProductCards {
    height: 425px;
    width: 350px;
}

.navbar-brand {
    font-size: 200%;
}

#navbar-inverse {
    background-color: rgba(0, 0, 0, 0.5);    
}

.product_details{
    width: 300px;
}

#newForm {
    color: lightyellow;
}

