<div class='text-center' id='view'>
    <h1>My Products</h1><br>
    <div class="input-group input-group-lg col-lg-12 col-md-4 searchbar">
        <input id="search-bar" type="text" class="form-control" placeholder="Search Products" ng-model="searchText">
        <span class="input-group-btn"><button class="btn btn-primary" type="button">Search</button></span>
    </div><br>
    <div id="view products">
        <div ng-repeat="product in products | LeftNavFilter : navFilters  | filter: searchText" class="col-sm-4 col-md-4 product-card">
            <div class="thumbnail product" id="homeProductCards">
                <div class="caption">
                    <div class="pannel-heading">
                        <div class="icon_positioning">
                            <button class="btn btn-danger delete" ng-click="deleteProduct(product.id)"><i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-success edit-btn" ng-click="editProduct(product.id)"><i class="fa fa-pencil"></i></button>
                            <button class="btn btn-info detail-btn" ng-click="productDetail(product.id)"><i class="fa fa-search"></i></button>
                        </div><br>
                        <h2 class="panel-title">{{product.description}}</h2><br>
                        <img class="product_images" ng-src="{{product.picture}}">
                    </div>
                </div>
            </div>
        </div>
    </div>	
</div>		