<nav class="navbar" ng-controller="NavCtrl">
	<div class="container-fluid">
	<div id="Navbar">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-expample-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>	
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" id="myWarPalApp" ng-href="#!/home">My Warranty Pal App</a>	
		</div>

		<div class="collapse navbar-collapse" id="bs-expample-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right" ng-show="!uid">
				<li><a id="signIn" ng-href="#!/auth">Sign In</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="uid">
				<li><a class="navLinks" ng-href="#!/products/new">Add New Product</a></li>
				<li><a class="navLinks" ng-href="#!/products/home">View Products</a></li>
				<li><a class="navLinks" ng-click="logoutUser()">Sign Out</a></li>
			</ul>
		</div>
	</div>
</div>
</nav>