<div class='text-center' id='product_details'>
        <h1>Product Details</h1><br>
        <div class="container col-sm-6 col-md-4 contact">
            <div class="thumbnail contact">
                <div class="caption">
                    <div class="panel-heading">
                        <div class="icon_position">
                        </div><br>
                        <div>
                            <h2 class="panel-title">{{product.description}}</h2><br>
                            <img class="product_images" ng-src="{{product.picture}}">
                            </div>
                        <div class="panel-body">
                            <p class='name'><i class="fa fa-phone" aria-hidden="true"></i> {{product.name}} </p>
                            <p class='description'><i class="fa fa-phone" aria-hidden="true"></i> {{product.description}} </p>
                            <p class='modle_number'><i class="fa fa-phone" aria-hidden="true"></i> {{product.modle_number}} </p>
                            <p class='brand'><i class="fa fa-phone" aria-hidden="true"></i> {{product.brand}} </p>
                            <p class='purchase_date'><i class="fa fa-phone" aria-hidden="true"></i> {{product.purchase_date}} </p>
                            <p class='purchase_location'><i class="fa fa-phone" aria-hidden="true"></i> {{product.purchase_location}} </p>
                            <p class='purchase_location_address'><i class="fa fa-phone" aria-hidden="true"></i> {{product.purchase_location_address}} </p>
                            <p class='purchase_location_phone'><i class="fa fa-phone" aria-hidden="true"></i> {{product.purchase_location_phone}} </p>
                            <p class='manufacutrers_warranty'><i class="fa fa-phone" aria-hidden="true"></i> {{product.manufacutrers_warranty}} </p>
                            <p class='manufacturers_warranty_company'><i class="fa fa-phone" aria-hidden="true"></i> {{product.manufacturers_warranty_company}} </p>
                            <p class='manufacturers_warranty_terms'><i class="fa fa-phone" aria-hidden="true"></i> {{product.manufacturers_warranty_terms}} </p>
                            <p class='manufacturers_warranty_expiration'><i class="fa fa-phone" aria-hidden="true"></i> {{product.manufacturers_warranty_expiration}} </p>
                            <p class='extended_warranty'><i class="fa fa-phone" aria-hidden="true"></i> {{product.extended_warranty}} </p>
                            <p class='extended_warranty_company'><i class="fa fa-phone" aria-hidden="true"></i> {{product.extended_warranty_company}} </p>
                            <p class='extended_warranty_term'><i class="fa fa-phone" aria-hidden="true"></i> {{product.extended_warranty_term}} </p>
                            <p class='purchase_price'><i class="fa fa-phone" aria-hidden="true"></i> {{product.purchase_price}} </p>
                            <p class='picture'><i class="fa fa-phone" aria-hidden="true"></i> {{product.picture}} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>