#Navbar {
  color: cornflowerblue;
  background-color: black;
  position: fixed;
  width: 98%;
  z-index: 2; }

.searchbar {
  z-index: 1; }

#sideNav {
  color: cornflowerblue;
  padding: 10px 20px 20px 20px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 20%;
  padding: 20px; }

#edit_product {
  color: cornflowerblue; }

#myProducts {
  color: cornflowerblue; }

.product_images {
  height: 300px;
  width: 300px;
  padding: 10px 20px 10px 20px; }

#homeProductCards {
  height: 425px;
  width: 350px;
  background-color: lightgray; }

.navbar-brand {
  font-size: 200%; }

.product_details {
  width: 300px; }

#newForm {
  color: lightyellow; }

#login {
  position: absolute;
  left: 25%;
  color: cornflowerblue; }
