#Navbar {
  font-weight: 500;
  font-size: 125%;
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  width: 98%;
  z-index: 2; }

.navLinks {
  color: cornflowerblue; }

#myWarPalApp {
  margin-left: 0;
  color: cornflowerblue; }

.searchbar {
  z-index: 1; }

#signIn {
  color: cornflowerblue; }

#sideNav {
  color: cornflowerblue;
  padding: 10px 20px 20px 20px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 20%;
  padding: 20px;
  z-index: 2; }

#edit_product {
  color: cornflowerblue; }

#myProducts {
  color: cornflowerblue; }

.product_images {
  height: 300px;
  width: 300px;
  padding: 10px 20px 10px 20px; }

#homeProductCards {
  height: 425px;
  width: 350px; }

#product_details {
  color: cornflowerblue; }

#detailsCard {
  position: relative;
  left: 107%; }

.navbar-brand {
  font-size: 200%; }

.product_details {
  width: 300px; }

#newForm {
  color: lightyellow; }

#login {
  position: absolute;
  left: 25%;
  color: cornflowerblue; }
